<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="bg-dark text-light d-flex flex-column min-vh-100">
    <div class="container my-auto text-center">
        <img src="./img/move.png" alt="" width="200">
        <h1 class="display-4 p-5">
            Bem-vindo ao <span class="fw-bold text-primary">MetaMove</span>
        </h1>
        <p class="lead">
            "Transforme seus sonhos em conquistas com o Dream Board! Aqui, suas ideias ganham vida e suas metas se
            tornam realidade. Organize suas tarefas, visualize seu progresso e alcance novos patamares. Cada tarefa é um
            passo em direção ao seu futuro brilhante. Prepare-se para a jornada!"
        </p>
        <a href="/app" class="btn btn-primary btn-lg mt-3">Comece a Gerenciar suas Tarefas</a>
    </div>

    <%- include('partials/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkQf4FuFJQ7aFjmc8KFflNS55Yu0Lvs6wN2UGx8IDbQSc6LGO3bi"
            crossorigin="anonymous"></script>
</body>

</html>